
.top-backgraund{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('../img/top_back.png');
    background-position: center;
    overflow: hidden;
    position: absolute;
    background-size: cover;
}
.inner-text{
    
}